.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#cont {
    background-color: lightcoral;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#display-box {
    background-color: cadetblue;
    min-height: 100px;
    min-width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 5px;
}
#display {
    padding: 5px;
}
#pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    margin-left: 5px;
    margin-right: 10px;
}
.drum-pad {
    height: 2rem;
    width: 3rem;
    text-align: center;
    background-color: slategrey;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
}

